*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html{
    /*impede o aparecimento de todo elemento que ultrapasse o eixo x da tela*/
    overflow-x: hidden;
}
header{
    background-color: rgb(0, 0, 110);
    padding-top: 20px;
    color:#fff
}
header h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}
header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.container h2{
    color: rgb(0, 0, 110);
    font-weight: 900;
    justify-content: center;
}
.container-flex{
    display: flex;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
nav{
    background-color: rgb(0, 116, 184);
    padding: 16px 0px;
    display: none;
}
nav li{
    list-style: none;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: #fff;

}
.options{
    width: 40px;
    cursor: pointer;
}
.options span{
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}
#carrossel img{
    height: 400px;
}

#section-sobre .container{
    display: flex;
}
#section-sobre img{
    max-width: 400px;
    margin-right: 24px;
}
section{
    padding: 48px 0;
}
section h2{
    margin-bottom: 16px;
}
section p{
    font-size: 22px;
}
.produtos{
    flex-wrap: wrap;
}
.produtos li{
    list-style: none;
    max-width: 20%;
    margin-bottom: 24px;
    margin: 2% 2% 2% 2%;
}
.produtos li img{
    max-width: 100%;
    height: 200px;
}
.produtos li h3{
    margin: 16px 0;
}

button{
    width: 100%;
    display: block;
    background-color: rgb(0, 131, 87);
    color: #fff;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    padding: 8px 0;
    border: none;
}
.presso{
    display: flex;
    margin: 16px 0;
}
.presso del{
    color: rgb(22, 22, 22);
    padding-right: 20px;
}
.formulario{
    margin-bottom: 16px;
}
.formulario label{
    font-weight: bold;
    display: block;
}
.formulario input,
.formulario textarea{
    display:block;
    width: 100%;
    padding: 10px;
    font-size: 22px;
}
.formulario textarea{
    resize: none;
    height: 180px;
    font-size: 24px;
}
form{
    max-width: 50%;
}
footer{
    padding-top: 20px;
    color:#fff;
    background-color: rgb(0, 0, 110);
}
footer li{
    list-style: none;
    margin-left: 20px;
}
footer li img{
    height: 35px;
}
footer p{
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 767px){
    #section-sobre .container{
        display: block;
    }
    #section-sobre .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .produtos{
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .produtos li{
        list-style: none;
        max-width: 40%;
        margin-bottom: 24px;
        margin: 2% 2% 2% 2%;
    }
    .produtos li img{
        max-width: 100%;
        height: 200px;
    }
    .produtos li h3{
        margin: 16px 0;
    }
}
